/*************h1 font***************/

h1 {
    text-align: center;
    font-size: 3em;
    line-height: 2;
    letter-spacing: .2em;
    font-family: 'Studebaker';
}

.text-forward {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAATklEQVQoU2O0O3X+PwMDA8MhM0NGEI0LMBKtEJsJD27YgW1R0DgEtwWrdUQrxGYLY8V5iDUdhghrKFOITfenmXFgW/jSF+H3DNEKsdkCAO99IAvXcD3VAAAAAElFTkSuQmCC")repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.text-background {
    color: black;
}

.absolute {
    position: absolute;
    margin: 0 auto;
    text-align: center;
    width: calc(100vw/2);
    height: 5vh;
}

.absolute:first-child {

    z-index: 1;
    text-align: center;
}

.absolute:last-child {
    z-index: 0;
    text-align: center;

}


/***********font-face*****************/

@font-face {
    font-family: 'Din OSP';
    font-weight: normal;
    font-style: normal;
    src: local('Din OSP'), url('fonts/OSP-DIN.ttf');
}

@font-face {
    font-family: 'Din Overlay';
    font-weight: normal;
    font-style: normal;
    src: local('Din Overlay'), url('fonts/Din-Overlay.woff') format('woff');
}


/*************other written elements in section content*****************************/

@font-face {
    font-family: 'Studebaker';
    src: url('fonts/StudebakerNF.ttf');
}


/*******fonts***********/

@font-face {
    font-family: "Caviar Dreams";
    src: url("fonts/CaviarDreams.ttf");
    src: url("fonts/CaviarDreams_Bold.ttf");
}


/*******main***********/

.lang {
    text-align: center;
}

h2, h3, h4, p {
    text-align: center;
    line-height: 2em;
    font-family: 'Studebaker';
    text-transform: uppercase;
}

a {
    font-family: 'Din OSP';
    text-align: center;
    line-height: 2em;
}

h2.title>p {
    font-family: "Caviar Dreams";
    font-size: 1.5em;
    display: inline;
    vertical-align: super;
}

h2.title>b {
    font-size: 3em;
    font-weight: lighter;
    font-family: "Caviar Dreams";
}

b {
    line-height: 2;
}


/***********languages flag size*******************/

#lg {
    padding-top: 30px;
    text-align: center;
    font-family: 'Caviar Dreams';
}

#lg ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


/*****create a javascript change color***********/

#lg ul li {
    display: inline;
}

#lg ul li a {
    text-decoration: none;
    padding: .3em;
}

#lg a:hover {
    transition: all .2s ease-in;
    transform: scale(1.2);
    color: aqua;
}

#lg a:active {
    color: #a647ef;
}


/**************icons***************************/

.twitter, .linkedin, .viadeo, .github {
    width: 100%;
    display: inline-block;
}

.twitter {
    width: 64px;
    height: 64px;
    background-image: url("css/img/twitter.png");
}

.twitter:hover {
    transition: all .9s ease;
    background-image: url("css/img/hover/twitter.png");
}

.linkedin {
    width: 64px;
    height: 64px;
    background-image: url("/home/utilisateur/Works/portofolio/img/linkedin.png");
}

.linkedin:hover {
    transition: all .9s ease;
    background-image: url("/home/utilisateur/Works/portofolio/img/hover/linkedin.png");
}

.viadeo {
    width: 64px;
    height: 64px;
    background-image: url("/home/utilisateur/Works/portofolio/img/viadeo.png");
}

.viadeo:hover {
    transition: all .9s ease;
    background-image: url("/home/utilisateur/Works/portofolio/img/hover/viadeo.png");
}

.github {
    width: 64px;
    height: 64px;
    background-image: url("/home/utilisateur/Works/portofolio/img/github.png");
}

.github:hover {
    transition: all .9s ease;
    background-image: url("/home/utilisateur/Works/portofolio/img/hover/github.png");
}


/**********credits************/

.credits {
    font-family: "Caviar Dreams";
    color: yellow;
    text-shadow: 2px 2px 4px #000000;
    font-size: 1em;
    line-height: 2;
}


/****media query*********************/

@media (max-width:769px) {
    .translate {
        margin-right: .3em;
        padding: .3em;
    }
    #lg, .translate>a {
        font-size: 1.04em;
    }
    #lg {
        text-align: left;
    }
}

@media (max-width:528px) {
  .absolute {
    transform: translate(-50%,100%);
    -webkit-transform: translate(-50%,100%);
  }
  h1 {
    line-height: 1.5;

  }
}
@media (max-width:426px) {
    .translate {
        margin-right: .2em;
        padding: .2em;
        text-align: center;
    }
    #lg, .translate>a {
        font-size: .9em;
    }
    #lg {
        text-align: center;
    }
    h2.title, p {
        letter-spacing: .15em;
        font-size: 1em;    }
}

@media (max-width:375px) {
    .translate {
        margin-right: .5em;
        padding: .4em;
        text-align: center;
    }
    #lg, .translate>a {
        font-size: 1.04em;
    }
    #lg {
        text-align: center;
    }
}

@media (max-width:320px) {
    .second-font, .lang {
        font-size: 1.5em;
    }
    h2.title, p {
        letter-spacing: .15em;
        font-size: .8em;
    }
}
