/***************logo*************************/

.logo-frame-first, .logo-frame, .logo-middle {
    margin-top: 0.2em;
    text-align: center;
}

.logo-middle, .logo {
    width: 120px;
    max-height: 100%;
}

@media(min-width:426px) {
    #toggle, .logo-frame{
        display: none;
    }

}

@media(max-width:426px) {
    #overlay-laptop, .fr-first {
        display: none;
    }
}


/***********hamburger nav******************/

.button_container {
    position: absolute;
    top: 5%;
    left: 5%;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 11;
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
}


/*************manage the hover******************/

.button_container:hover {
    opacity: .7;
}


/***********the first span class to react*********************/

.button_container.active .top {
    -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #FFF;
}


/***********the second span class to diseappear*********************/

.button_container.active .middle {
    opacity: 0;
    background: #FFF;
}


/***********the last span class to react*********************/

.button_container.active .bottom {
    -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #FFF;
    z-index: 1000;
}


/*********the style of ligns*******************/

.button_container span {
    background: #d5d5d5;
    position: absolute;
    top: 2%;
    left: 0;
    z-index: 1000;
    height: 5px;
    width: 100%;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
    cursor: pointer;
}


/***********the hidden nav*****************/

.overlay {
    position: fixed;
    background: gray;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .35s, visibility .35s, height .35s;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
}


/*************open class created by jquery****************/

.overlay.open {
    opacity: .9;
    visibility: visible;
    height: 100%;
}


/*********animation of the ****************/

.overlay.open li {
    -webkit-animation: fadeInTop .5s ease forwards;
    animation: fadeInTop .5s ease forwards;
    -webkit-animation-delay: .35s;
    animation-delay: .35s;
}


/********animate the apparition of each menu***********************/

.overlay.open li:nth-of-type(2) {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}

.overlay.open li:nth-of-type(3) {
    -webkit-animation-delay: .45s;
    animation-delay: .45s;
}

.overlay.open li:nth-of-type(4) {
    -webkit-animation-delay: .50s;
    animation-delay: .50s;
}


/**********the window*************************/

.overlay nav {
    position: relative;
    height: 70%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 3em;
    text-align: center;
}


/***********the master of the list***- manage space between each option***********/

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
}

.overlay ul li {
    display: block;
    height: calc(100% / 4);
    min-height: 1em;
    position: relative;
    opacity: 0;
}

.overlay ul li a {
    display: block;
    position: relative;
    color: #FFF;
    text-decoration: none;
    overflow: hidden;
}


/**************hover in each list****************/

.overlay ul li a:hover {
    color: gold;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    -o-transition: color 1s ease;
    transition: color 1s ease;
}


/***********nav animation******************/

@-webkit-keyframes fadeInTop {
    0% {
        opacity: 0;
        top: 20%;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

@keyframes fadeInTop {
    0% {
        opacity: 0;
        top: 20%;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}
