html {
  background-image: url('img/mockuptest.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

body {
    text-rendering: geometricPrecision;
    color: black;
}

main {
    padding-bottom: 70px;
}

a {
    text-decoration: none;
}


/***************logo*************************/

.logo-frame, .logo {
    margin-top: -0.5em;
    text-align: center;
}

.logo-frame, .logo {
    margin-top: 0.2em;
    text-align: center;
}

.logo {
    width: 120px;
    max-height: 100%;
}


/***********hamburger nav******************/

.button_container {
    position: absolute;
    top: 5%;
    left: 5%;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 11;
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
}


/*************manage the hover******************/

.button_container:hover {
    opacity: .7;
}


/***********the first span class to react*********************/

.button_container.active .top {
    -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #FFF;
}


/***********the second span class to diseappear*********************/

.button_container.active .middle {
    opacity: 0;
    background: #FFF;
}


/***********the last span class to react*********************/

.button_container.active .bottom {
    -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #FFF;
    z-index: 1000;

}


/*********the style of ligns*******************/

.button_container span {
    background: #d5d5d5;
    position: absolute;
    top: 2%;
    left: 0;
    z-index: 1000;
    height: 5px;
    width: 100%;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
    cursor: pointer;
}


/***********the hidden nav*****************/

.overlay {
    position: fixed;
    background: gray;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .35s, visibility .35s, height .35s;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
}


/*************open class created by jquery****************/

.overlay.open {
    opacity: .9;
    visibility: visible;
    height: 100%;
}


/*********animation of the ****************/

.overlay.open li {
    -webkit-animation: fadeInTop .5s ease forwards;
    animation: fadeInTop .5s ease forwards;
    -webkit-animation-delay: .35s;
    animation-delay: .35s;
}


/********animate the apparition of each menu***********************/

.overlay.open li:nth-of-type(2) {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}

.overlay.open li:nth-of-type(3) {
    -webkit-animation-delay: .45s;
    animation-delay: .45s;
}

.overlay.open li:nth-of-type(4) {
    -webkit-animation-delay: .50s;
    animation-delay: .50s;
}


/**********the window*************************/

.overlay nav {
    position: relative;
    height: 70%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 3em;
    text-align: center;
}


/***********the master of the list***- manage space between each option***********/

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
}

.overlay ul li {
    display: block;
    height: calc(100% / 4);
    min-height: 1em;
    position: relative;
    opacity: 0;
}

.overlay ul li a {
    display: block;
    position: relative;
    color: #FFF;
    text-decoration: none;
    overflow: hidden;
}


/**************hover in each list****************/

.overlay ul li a:hover {
    color: gold;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    -o-transition: color 1s ease;
    transition: color 1s ease;
}


/***********nav animation******************/

@-webkit-keyframes fadeInTop {
    0% {
        opacity: 0;
        top: 20%;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

@keyframes fadeInTop {
    0% {
        opacity: 0;
        top: 20%;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}


/********languages********************************/

#lg, .translate, a {
    font-size: 1.2em;
}

.translate {
    border-radius: 40%;
    background-color: white;
    margin-right: 1em;
    padding: .5em;
    opacity: .75;
}

/****chapter***********/

.chapter,.lang{
    text-align: center;
}


/*********general rules***************/

.row .col .view .view-first {
    width: 300px;
    height: 200px;
}

.view {
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: pointer;
}

.view .mask, .view .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.view img {
    display: inline-block;
    position: relative;
    padding: auto;
    width: 100%;
}

.view h4 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin-top: 20px;
}

.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 1.2em;
    position: relative;
    color: #fff;
    padding: 1em;
    text-align: center;
}

h4 {
    text-decoration: none;
    padding: 8px 12px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    box-shadow: 0 0 1px #000;
    margin: 1em;
}

.view h4:hover {
    box-shadow: 0 0 5px #000;
}


/********effects**********/

.view-first img {
    transition: all 0.2s linear;
}

.view-first .mask {
    opacity: 0;
    background-color: rgba(219, 127, 8, 0.7);
    transition: all 0.4s ease-in-out;
}

.view-first h4 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.view-first p {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}

.view-first h4 {
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

h4, strong:hover {
    -webkit-transform: scale(1.25);
}


/********footer**********************/

.spacetop {
    margin-top: 3em;
}

.space {
    margin-left: 6em;
    margin-right: 6em;
}


/*********social************/

.social-img-link {
    text-align: right;
    line-height: 1;
    -webkit-filter: brightness(3);
    filter: brightness(3);
}

.social-img-link:hover {
    -webkit-filter: brightness(-3);
    filter: brightness(-3);
    transition: all 3s ease;
}


/*****media query************/

@media (max-width:769px) {
    .translate {
        margin-right: .3em;
        padding: .3em;
    }
    #lg, .translate>a {
        font-size: 1.04em;
    }
    #lg {
        text-align: left;
    }
    .disappear {
        display: none;
    }
}

@media (max-width:425px) {
    .logo-frame {
        transform: translate(60%, 20%);
        -webkit-transform: translate(60%, 20%);
        -moz-transform: translate(60%, 20%);
        -ms-transform: translate(60%, 20%);


    }
    main {
        margin-left: .5em;
        margin-right: .5em;
    }
    .spacetop {
        margin-top: 1.5em;
    }
    .space {
        margin-left: 1.5em;
        margin-right: 1.5em;
    }
    .credits {
        order: 1;
    }
    .social {
        order: 3;
    }
}

@media (max-width:375px) {
    .logo-frame {
        transform: translate(50%, 20%);
        -webkit-transform: translate(50%, 20%);
        -moz-transform: translate(50%, 20%);
        -ms-transform: translate(50%, 20%);
    }
    .col-lg {
        display: none;
    }
    nav.col.social {
        margin: 0;
    }
    .social-img-link {
        width: 4em;
        height: 25%;
    }
    .spacetop {
        margin-top: 1em;
    }
    .space {
        margin-left: 1em;
        margin-right: 1em;
    }
}

@media (max-width:325px) {
    .logo-frame {
        transform: translate(20%, 20%);
        -webkit-transform: translate(20%, 20%);
        -moz-transform: translate(20%, 20%);
        -ms-transform: translate(20%, 20%);
    }
}
@media (min-width:7) {
  .absolute {
    -webkit-transform: translate(-50%, 100%);
    -moz-transform: translate(-50%, 100%);
    -ms-transform: translate(-50%, 100%);
  }
}
