body {
    background-color: #373537;
    background-size: cover;
    text-rendering: geometricPrecision;
    color: #fff;
}

main {
    padding-bottom: 70px;
}

a {
    text-decoration: none;
}


/***************logo*************************/

.logo-frame {
    margin-left: 5em;
    margin-top: .5em;
    width: 100px;
    height: 100px;
    background-image: url('img/logo.png');
    background-size: 100px 80px;
    background-repeat: no-repeat;
    background-position: center;
}

p, a {
    line-height: 2em;
}


/*************other written elements in section content*****************************/

@font-face {
    font-family: 'Azedo-Light';
    src: url('fonts/Azedo-Light.otf');
}

.lang.second-font a {
    letter-spacing: .4em;
    font-weight: lighter;
}

.second-font:hover {
    transition: all .6s ease-in;
    transform: scale(1.1);
    color: lime;
}

.second-font:active {
    text-decoration: line-through;
    transition: all .3s linear;
}

.second-font,.lang {
    font-size: 30px;
    text-align: center;
    font-family: 'Azedo-Light';
}


/*********social************/

.social {
    text-align: center;
}

.social-img-link:hover {
    -webkit-filter: brightness(-3);
    filter: brightness(-3);
    transition: all 3s ease;
}


/*******credits********/

.credits {
    text-align: center;
    font-family: 'Azedo-Light';
}
