body {
    background-color: #373537;
    background-size: cover;
    text-rendering: geometricPrecision;
    color: #fff;
}

main {
    padding-bottom: 70px;
}

a {
    text-decoration: none;
}


/***************logo*************************/

.logo-frame {
    margin-left: 5em;
    margin-top: .5em;
    width: 100px;
    height: 100px;
    background-image: url('img/logo.png');
    background-size: 100px 80px;
    background-repeat: no-repeat;
    background-position: center;
}

p, a {
    line-height: 2em;
}

#lg, .translate, a {
  font-size: 1.2em;
}
/*************other written elements in section content*****************************/

@font-face {
    font-family: 'Azedo-Light';
    src: url('fonts/Azedo-Light.otf');
}
.title,.lang >p {
  font-size: 1.2em;
}
.lang.second-font a {
    font-size: 1em;
    font-weight: lighter;
}

.second-font:hover {
    transition: all .4s ease-in;
    letter-spacing: .2em;
    color: lime;
}

.second-font:active {
    text-decoration: line-through;
    transition: all .3s linear;
}

.second-font,.lang {
    font-size: 30px;
    text-align: center;
    font-family: 'Azedo-Light';
}


/*********social************/

.social {
    text-align: center;
}

.social-img-link:hover {
    -webkit-filter: brightness(-3);
    filter: brightness(-3);
    transition: all 3s ease;
}


/*******credits********/

.credits {
    text-align: center;
    font-family: 'Azedo-Light';
}
/*****media query************/
@media (max-width:425px) {
  .logo-frame {
    margin-left:0;
    margin-top:0;
  }
  h1 {
    text-align: center;
  }

}
@media (max-width:375px) {
  .logo-frame {
    margin-left:35%;
  }
  .col-lg {
    display: none;
  }

}
@media (max-width:325px) {
  .logo-frame {
    margin-left: 33%;
  }
}
