html {
    background-image: url('img/mockuptest.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

body {
    text-rendering: geometricPrecision;
    color: black;
}

main {
    padding-bottom: 70px;
}

a {
    text-decoration: none;
}


/***************logo*************************/

.logo-frame {
    margin-left: 5em;
    margin-top: .5em;
    width: 100px;
    height: 100px;
    background-image: url('img/logo.png');
    background-size: 100px 80px;
    background-repeat: no-repeat;
    background-position: center;
}

p, a {
    line-height: 2em;
}


/********languages********************************/

#lg, .translate, a {
    font-size: 1.2em;
}

.translate {
    border-radius: 40%;
    background-color: white;
    margin-right: 1em;
    padding: .5em;
    opacity: .75;
}


/***square style in main*******/

main {
    background-color: white;
    background-position: center;
    color: black;
    margin-left: 6em;
    margin-right: 6em;
    opacity: .8;
}

section {
    z-index: 100;
    opacity: .8;
}

.absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

}

.subtitle {
    margin-top: 5em;
}


/*************other written elements in section content*****************************/

.lang>.title>p {
    font-size: 1.2em;
}

.lang.second-font a {
    font-size: 1em;
    font-weight: lighter;
}

.second-font:hover {
    transition: all .4s ease-in;
    letter-spacing: .2em;
    color: lime;
}

.second-font:active {
    text-decoration: line-through;
    transition: all .3s linear;
}

.second-font, .lang {
    font-size: 1em;
    text-align: center;
    font-family: 'Din OSP';
}


/********footer**********************/

.spacetop {
    margin-top: 3em;
}

.space {
    margin-left: 6em;
    margin-right: 6em;
}


/*********social************/

.social-img-link {
    text-align: right;
    line-height: 1;
    -webkit-filter: brightness(3);
    filter: brightness(3);
}

.social-img-link:hover {
    -webkit-filter: brightness(-3);
    filter: brightness(-3);
    transition: all 3s ease;
}


/*****media query************/

@media (max-width:769px) {
    .translate {
        margin-right: .3em;
        padding: .3em;
    }
    #lg, .translate>a {
        font-size: 1.04em;
    }
    #lg {
        text-align: left;
    }
    .disappear {
        display: none;
    }
}

@media (max-width:425px) {
    .logo-frame {
        transform: translate(60%, 20%);
        -webkit-transform: translate(60%, 20%);
        -moz-transform: translate(60%, 20%);
        -ms-transform: translate(60%, 20%);


    }
    main {
        margin-left: .5em;
        margin-right: .5em;
    }
    .spacetop {
        margin-top: 1.5em;
    }
    .space {
        margin-left: 1.5em;
        margin-right: 1.5em;
    }
    .credits {
        order: 1;
    }
    .social {
        order: 3;
    }
}

@media (max-width:375px) {
    .logo-frame {
        transform: translate(50%, 20%);
        -webkit-transform: translate(50%, 20%);
        -moz-transform: translate(50%, 20%);
        -ms-transform: translate(50%, 20%);
    }
    .col-lg {
        display: none;
    }
    nav.col.social {
        margin: 0;
    }
    .social-img-link {
        width: 4em;
        height: 25%;
    }
    .spacetop {
        margin-top: 1em;
    }
    .space {
        margin-left: 1em;
        margin-right: 1em;
    }
}

@media (max-width:325px) {
    .logo-frame {
        transform: translate(20%, 20%);
        -webkit-transform: translate(20%, 20%);
        -moz-transform: translate(20%, 20%);
        -ms-transform: translate(20%, 20%);
    }
}
@media (min-width:7) {
  .absolute {
    -webkit-transform: translate(-50%, 100%);
    -moz-transform: translate(-50%, 100%);
    -ms-transform: translate(-50%, 100%);
  }
}
