/************reset********************/

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
	overflow: hidden;
	background-image: radial-gradient(center center, circle cover, #ffeda3, #ffc800);
	background-image: -webkit-radial-gradient(center center, circle cover, #ffeda3, #ffc800);
	background-image: -moz-radial-gradient(center center, circle cover, #ffeda3, #ffc800);
	background-image: -o-radial-gradient(center center, circle cover, #ffeda3, #ffc800);
	background-image: -ms-radial-gradient(center center, circle cover, #ffeda3, #ffc800);
}

* a {
    text-decoration: none;
	color: white;
}

* ul {
    list-style-type: none;
    color: white;
}

/********************wrapper of the page**********************************/
.wrapper {}

/***********************************header and footer*****************************/


#header, #footer {
    width: 100vw;
    height: 10vh;
    margin: 0 auto;
}
/***********************************header*****************************/
#header {
    width: 100vw;
    background-color: blue;
	
}
/*************the content of the header****************************/
.logo, .lg, .menu {
	width:calc(100%/3);
	height: 10vh;
}
/***************logo*************************/
.logo {
	position: absolute;
	top:0;
	left:0;
	width: 20vw;
	height: 10vh;
}
.logo img {
	width: 10vw;
	height: 10vh;
}
/********************navigation bar*************************/
.menu {
	position: absolute;
	text-align: center;
	background-color: purple;
	top:0;
	left: 20vw;
	width:60vw;
}
.home, 
.works, 
.resume,
.contact{
	line-height: 10vh;
	padding: .3em;
	margin: .3em;
}
/***********languages flag size*******************/
#lg  {
	position: absolute;
	top:0;
	right:0;
	width:20vw;
	height: 10vh;
}

#lg ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

#lg ul li { 
	display: inline; 
}

#lg ul li a {
	text-decoration: none;
	padding: .3em;
}

#lg img {
    width: 24px;
	height: 24px;
}
/*********************the content********************/

.content {
    text-align: center;
    width: 100vw;
    height: 70vh;
}




/*************foooter********************/

#footer {
  position: absolute;
  bottom: 0;
  background-color: gray;
  text-align: center;
}
/*************credits and social network****************************/
.credits, .share {
  margin: 0 auto;
}


/***************credits content**********************/

.credits {
    float: left;
    padding: 30px;
    margin: auto;
}

.credits span {
	margin-right: 15px;
}
/***********social network******************/

.share {
	float: right;
    padding: 15px;
    margin: 0 auto;
}

/********content of social network***********/

.share [class*="socicon-"] {
    float: right;
}


/**************icons***************************/

[class*="socicon-"] {
    vertical-align: top;
    display: inline;
    border-radius: 50%;
    padding: 10px 14px;
	margin-right: 4px;
    transition: .5s;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
}

[class*="socicon-"] a:hover {
    background-color: #e25714;
}

.socicon-twitter {
    background-color: #322f30;
}

.socicon-twitter:hover {
    background-color: #00aced;
}

.socicon-github {
    background-color: #322f30;
}

.socicon-github:hover {
    background-color: #eb8231;
}

.socicon-viadeo {
    background-color: #322f30;
}

.socicon-viadeo:hover {
    background-color: #e64a41;
}

.socicon-linkedin {
    background-color: #322f30;
}

.socicon-linkedin:hover {
    background-color: #0073a4;
}
