body {
	background-image:url('img/paper.jpg');
	background-size: cover;
	margin:0;
}
/************socicon defaults*******************/
@font-face {
  font-family: "socicon";
  src:url("socicon/fonts/socicon.eot");
  src:url("socicon/fonts/socicon.eot?#iefix") format("embedded-opentype"),
    url("socicon/fonts/socicon.woff") format("woff"),
    url("socicon/fonts/socicon.ttf") format("truetype"),
    url("socicon/fonts/socicon.svg#socicon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*****************default font*********************/
@font-face {
	font-family:'Rythmus';
	src:url('fonts/rythmus.ttf');
}
* a, label, input, small {
	font-family:'Rythmus';
	text-decoration:none;
	color: black;
}
/***************logo*************************/
.logo-frame, .logo {
	margin-top: 0.2em;
	text-align: center;
}

.logo {
	width: 120px;
	max-height: 100%;
}
/*******************menu*******************************/
.button_container {
  position: absolute;
  top: 1em;
  left: 1em;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 1;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}
/*************manage the hover******************/
.button_container:hover {
  opacity: .7;
}
/***********the first span class to react*********************/
.button_container.active .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FFF;
}
/***********the second span class to diseappear*********************/
.button_container.active .middle {
  opacity: 0;
  background: #FFF;
}
/***********the last span class to react*********************/
.button_container.active .bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FFF;
}
/*********the style of ligns*******************/
.button_container span {
  background: #d5d5d5;
  position: absolute;
  top: 2%;
  left: 0;
  height: 5px;
  width: 100%;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  cursor: pointer;
}
/**************position of the second and third span**************/
.button_container .middle {
  top: 11px;
}

.button_container .bottom {
  top: 22px;
}
/***********the hidden nav*****************/
.overlay {
  position: fixed;
  background: #d5d5d5;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
}
/*************open class created by jquery****************/
.overlay.open {
  opacity: .9;
  visibility: visible;
  height: 100%;
}
/*********animation of the ****************/
.overlay.open li {
  -webkit-animation: fadeInTop .5s ease forwards;
  animation: fadeInTop .5s ease forwards;
  -webkit-animation-delay: .35s;
  animation-delay: .35s;
}
/********animate the apparition of each menu***********************/
.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}

.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
  animation-delay: .45s;
}

.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .50s;
  animation-delay: .50s;
}
/**********the window*************************/
.overlay nav{
  position: relative;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 3em;
  text-align: center;
}
/***********the master of the list***- manage space between each option***********/
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}

.overlay ul li {
  display: block;
  height: calc(100% / 4);
  min-height: 1em;
  position: relative;
  opacity: 0;
}

.overlay ul li a {
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
}
/**************hover in each list****************/
.overlay ul li a:hover {
  color: gold;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  -o-transition: color 1s ease;
  transition: color 1s ease;
}

/***********animation******************/
@-webkit-keyframes fadeInTop {
  0% {
    opacity: 0;
    top: 20%;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@keyframes fadeInTop {
  0% {
    opacity: 0;
    top: 20%;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}


/***********languages flag size*******************/
#lg  {
	text-align: center;
}

#lg ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#lg ul li { 
	display: inline; 
}

#lg ul li a {
	text-decoration: none;
	padding: .3em;
}
/**************the form*********************/
form .name-area + .mail-area + .object-area + .message-area {
	margin-top: 1em;
}
/************label content*********************/
label {
    /* To make sure that all labels have the same size and are properly aligned */
    display: inline-block;
    text-align: right;
	padding-top: 1em;
	padding-bottom: .5em;

}
/*************input and textarea content*********************/
input, textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;

    /* To give the same size to all text field */
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* To harmonize the look & feel of text field border */
    border: 1px solid #999;
}
input:focus, textarea:focus {
    /* To give a little highlight on active elements */
    border-color: #000;
}
textarea {
    /* To properly align multiline text fields with their labels */
    vertical-align: top;

    /* To give enough room to type some text */
    height: 5em;

    /* To allow users to resize any textarea vertically
       It does not work on all browsers */
    resize: vertical;
}
/**********the button *************************/
#button-blue{
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 20%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
			transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	margin-top: 1em;
	margin-right: .1em;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}
/**********the submit button**********************/
.submit:hover {
	color: #3498db;
}
/*****************WTF?******************/
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

/*********fix the footer*********************/
#footer  {
	bottom:0;
	width: 100%;
	height: 5em;
}
/*************credits and social network****************************/
.credits, .share {
  margin: 0 auto;
}
/**************wrapper footer*****************************/
.limit {
	width: 100vw;
	height: 10vh;
}

/***************credits content**********************/

.credits {
    padding: 10px;
    margin: 0 auto;
	
}

.credits span {
	margin-right: 15px;
}
/***********social network******************/
.share .col {
	margin-right: -2vh;
}
/**************icons***************************/

[class*="socicon-"] {
    border-radius: 50%;
    padding: 10px 14px;
	margin-right: 4px;
    transition: .5s;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    background-color: #322f30;
}
[class*="socicon-"] a:hover {
    background-color: #e25714;
}
.socicon-twitter:hover {
    background-color: #00aced;
}

.socicon-github:hover {
    background-color: #3b2e8c;
}

.socicon-viadeo:hover {
    background-color: #f47d21;
}

.socicon-linkedin:hover {
    background-color: #0073a4;
}
