body {
    background-color: #373537;
    background-size: cover;
    text-rendering: geometricPrecision;
    color: #fff;
}


/*****************default font**********************/

@font-face {
    font-family: 'Rythmus';
    src: url('fonts/rythmus.ttf');
}

*a {
    font-family: 'Rythmus';
}


/***************logo*************************/

.logo-frame, .logo {
    margin-top: 2px;
    margin-left: 2px;
    text-align: center;
}

.logo {
    height: 120px;
}


/***********languages flag size*******************/

#lg {
    margin-top: 15px;
    text-align: center;
    font-size: 25px;
    font-family: 'Azedo-Light';
}

#lg ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#lg ul li {
    display: inline;
}

#lg ul li a {
    text-decoration: none;
    padding: .3em;
}


/*******main***********/

h1 {
    font-family: 'Azedo-Light';
    font-size: 3em;
    letter-spacing: .4em;
    text-align: center;
}

h1, h2, p {
    line-height: 3em;
}


/*************other written elements in section content*****************************/

@font-face {
    font-family: 'Azedo-Light';
    src: url('fonts/Azedo-Light.otf');
}

.second-font .lang {
    letter-spacing: .4em;
    font-weight: lighter;
}

.second-font {
    font-size: 30px;
    text-align: center;
    font-family: 'Azedo-Light';
}


/************socicon defaults*******************/

@font-face {
    font-family: "socicon";
    src: url("socicon/fonts/socicon.eot");
    src: url("socicon/fonts/socicon.eot?#iefix") format("embedded-opentype"), url("socicon/fonts/socicon.woff") format("woff"), url("socicon/fonts/socicon.ttf") format("truetype"), url("socicon/fonts/socicon.svg#socicon") format("svg");
    font-weight: normal;
    font-style: normal;
}
/*********social************/
.social {
  text-align: center;
}

/**************icons***************************/

[class*="socicon-"]a:hover {
  transform: scale(2);
}

[class*="socicon-"] a:hover {
    width: 48px;
    height: 48px;
}
/*******credits********/
.credits {
  text-align: center;
}
