body {
    background-color: #373537;
    background-size: cover;
    text-rendering: geometricPrecision;
    color: #fff;
}

a {
    text-decoration: none;
}


/*****************default font**********************/

@font-face {
    font-family: 'Rythmus';
    src: url('fonts/rythmus.ttf');
}

*a {
    font-family: 'Rythmus';
}


/***************logo*************************/

.logo-frame, .logo {
    margin-top: 2px;
    margin-left: 2px;
    text-align: center;
}

.logo {
    height: 120px;
}


/***********languages flag size*******************/

#lg {
    margin-top: 15px;
    text-align: center;
    font-size: 25px;
    font-family: 'Azedo-Light';
}

#lg ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#lg ul li {
    display: inline;
}

#lg ul li a {
    text-decoration: none;
    padding: .3em;
}

#lg a:hover {
    transition: all .3s ease-in;
    transform: scale(1.3);
    color: aqua;
}

#lg a:active {
  color: yellow;
}
/*******main***********/

h1 {
    font-family: 'Azedo-Light';
    font-size: 3em;
    letter-spacing: .4em;
    text-align: center;
}

h1, h2, p {
    line-height: 3em;
}


/*************other written elements in section content*****************************/

@font-face {
    font-family: 'Azedo-Light';
    src: url('fonts/Azedo-Light.otf');
}

.lang.second-font a {
    letter-spacing: .4em;
    font-weight: lighter;
}

.lang.second-font a:hover {
    transition: all .6s ease-in;
    transform: scale(1.3);
    color: lime;
}

.lang.second-font a:active {
    text-decoration: line-through;
}

.second-font {
    font-size: 30px;
    text-align: center;
    font-family: 'Azedo-Light';
}


/************socicon defaults*******************/

@font-face {
    font-family: "socicon";
    src: url("socicon/fonts/socicon.eot");
    src: url("socicon/fonts/socicon.eot?#iefix") format("embedded-opentype"), url("socicon/fonts/socicon.woff") format("woff"), url("socicon/fonts/socicon.ttf") format("truetype"), url("socicon/fonts/socicon.svg#socicon") format("svg");
    font-weight: normal;
    font-style: normal;
}


/*********social************/

.social {
    text-align: center;
}


/**************icons***************************/

.twitter, .linkedin, .viadeo, .github {
    width: 100%;
    display: inline-block;
}

.twitter {
    width: 64px;
    height: 64px;
    background-image: url("/home/utilisateur/Works/portofolio/Socicon/twitter.png");
}

.twitter:hover {
    transition: all .9s ease;
    background-image: url("/home/utilisateur/Works/portofolio/hover/twitter.png");
}

.linkedin {
    width: 64px;
    height: 64px;
    background-image: url("/home/utilisateur/Works/portofolio/Socicon/linkedin.png");
}

.linkedin:hover {
    transition: all .9s ease;
    background-image: url("/home/utilisateur/Works/portofolio/hover/linkedin.png");
}

.viadeo {
    width: 64px;
    height: 64px;
    background-image: url("/home/utilisateur/Works/portofolio/Socicon/viadeo.png");
}

.viadeo:hover {
    transition: all .9s ease;
    background-image: url("/home/utilisateur/Works/portofolio/hover/viadeo.png");
}

.github {
    width: 64px;
    height: 64px;
    background-image: url("/home/utilisateur/Works/portofolio/Socicon/github.png");
}

.github:hover {
    transition: all .9s ease;
    background-image: url("/home/utilisateur/Works/portofolio/hover/github.png");
}


/*******credits********/

.credits {
    text-align: center;
    font-family: 'Azedo-Light';
}
