html {
  margin: 0;
  padding: 0;
}
body {
  background: url("https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/743885/580/580/m1/fpnw/wm0/russian-gzhel-vector-seamless-pattern-.jpg?1446132503&s=1b21ae31b4095fc385154bab544b2ac9");
background-size: cover;
  }
.container {
  height: 100vh;
  width: 100vw;
  border: 5px solid #E18728;
}
.contact-form {
	border: 5px solid navy;
	float: left;
 }
 .step_one .step_two .step_three .step_four {
	color: navy;
	font-weight: bolder;
	font-size: 1.6em;
	text-align: center;
 }