body {
    color: #FFF;
      -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    padding:0;
    list-style: none;
}
.share {
    width: 350px;
    display:block;
    margin: 0 auto;
}
ul{
    color: #fff;
}

/********content of social network***********/
ul{
    margin-top: 20px;
}

ul li {
    vertical-align: top;
    display: inline;
    border-radius: 50%;
}
}
ul a {
    color: #fff;
    text-decoration: none;
}

/**************icons***************************/
.socicon-twitter {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.socicon-twitter:hover {
    background-color: #00aced;
}
.socicon-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.socicon-github:hover {
    background-color: #eb8231;
}
.socicon-viadeo {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.socicon-viadeo:hover {
    background-color: #e64a41;
}
.socicon-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.socicon-linkedin:hover {
    background-color: #0073a4;
}
.a {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
a:hover {
    background-color: #e25714;
}