body{   
	margin:0;
}
.container {
	background:url('https://static.skillshare.com/uploads/project/3afe989440c67cd1fae06de00c257aba/356995c8');
	background-size: cover;
}
/*white square that allows my to go to the menu*/
.link_to_the_menu{
  width:340px;
  margin:10% auto;
  padding:50px;
  background:white;
  opacity:0.8;
  color:black;
  box-shadow:inset 0 0 0 1px black;
  border:30px solid white;
}
.link_to_the_menu:hover{
  background:black;
  color:white;
  box-shadow:inset 0 0 0 1px white;
  border:30px solid black;
}
/*Hide the input*/
input{
  visibility: hidden;
}
/*label influented by the div link to the menu*/
.link_to_the_menu label{
  text-transform:uppercase;
  font-size:40px;
  text-align:center;
}
.link_to_the_menu label:hover{
  cursor:pointer;
}
/*the menu that will cover or overlay the page*/
.overlay{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.9);
}
/*affect the label of overlau class _ the cross*/
.overlay label{
	width: 58px;
	height:58px;
	position: absolute;
	right: 20px;
	top: 20px;
	background: url('http://tympanus.net/Development/FullscreenOverlayStyles/img/cross.png');
	cursor:pointer;
}
/*affect the nav inside of overlay class*/
.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	font-size: 54px;
	/*move the nav from up to down*/
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
/*affect the ul inside the overlay class*/
.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}
/*affect the li inside the overlay class*/
.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 54px;
}
/*affect the link inside the overlay class*/
.overlay ul li a {
	font-weight: 300;
	display: block;
	color: white;
  text-decoration:none;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
  text-transform:uppercase;
}
/*affect the effects of the link*/
.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #849368;
}
/*influent all children in overlay*/
.link_to_the_menu~.overlay{
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}
/*une fois cliqué sur le label "click the text", faire apparaitre sur les enfants du overlay*/
#op:checked~.overlay{
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.overlay nav {
	-moz-perspective: 300px;
}

.overlay nav ul {
	opacity: 0.4;
	-webkit-transform: translateY(-25%) rotateX(35deg);
	transform: translateY(-25%) rotateX(35deg);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}
#op:checked~.overlay nav ul {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

#op:not(:checked)~.overlay nav ul {
	-webkit-transform: translateY(25%) rotateX(-35deg);
	transform: translateY(25%) rotateX(-35deg);
}
/*https://codepen.io/vladaoleynik/pen/vExKxJ*/