html  body{
	overflow: hidden;
	margin: 0;
	padding: 0; 

}

#animate-area	{ 
	width: 100vw; 
	height: 100vh; 
	background-image: url("http://wxdude.com/resources/Clouds.jpg");
	background-position: 0px 0px;
	background-repeat: repeat-x;
	animation: animatedBackground 40s linear infinite;
}


@-webkit-keyframes animatedBackground{
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
}